.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 250px;
  margin: 100px auto;
}

.App section {
  margin: 100px auto;
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.App section button {
  padding: 10px;
  border: none;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  width: 200px;
}



