.App {
  text-align: center;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App section button {
  width: 200px;
  padding: 10px;
  background-color: aliceblue;
  border: 0.5px solid black;
  margin: 10px 0;
}